# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
*.dill
*.dill.track.dill

# Android
**/android/**/build/
*.apk
*.aab

# iOS
**/ios/**/build/
*.ipa

# Web
**/web/**/canvaskit/

# Logs
*.log

# IDE
.vscode/
.idea/
*.iml
