# Flutter
.dart_tool/
.packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
*.so
*.log
build/
ios/.generated/
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
android/app/debug/
android/app/profile/
android/app/release/

# Generated localization files
lib/flutter_gen/gen_l10n/
lib/l10n/app_localizations*.dart
